.container {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;

  color: white;
  text-shadow: 0 0.1em 0.2em #000;
}

.imgContainer {
  width: 200px;
  height: 200px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.image {
  height: 200px;
  width: 200px;
  object-fit: contain;

  transition: width 0.5s, height 0.5s;

  &.shrink {
    height: 1px;
    width: 1px;
  }

  &.hit {
    padding-right: 5px;
    padding-bottom: 5px;
  }
}
